@import "../../../utils/variables.scss";

.search-container {
  position: relative;
  font-size: 1.5vw;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}

@-moz-document url-prefix() {
  .search-container {
    margin-left: 5vw;
  }
}

.search-bar {
  caret-color: transparent;
  border-radius: 1vw;
  text-align: center;
  color: black;
}

.search-results {
  width: 100%;
  .search-result {
    color: whitesmoke;
    font-weight: 600;
    margin: 0.5vw auto;
    padding-left: 1vw;
    padding-right: 1vw;

    .button {
      background-color: black;
      display: block;
      width: 100%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 10px;
      outline: none;
      border: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
