@import "../../utils/variables.scss";

.coaches-center-main {
  padding: 0 2vw;
  min-height: 70vh;

  .subnav-main {
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.xg-main,
.player-similarity-main,
.market-value-main {
  img {
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 1.5vw;
  }

  h2 {
    color: $secondary-text-color;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
  }
}

.xg-result {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 2vw;

  .td,
  th,
  tr {
    background-color: rgb(31, 31, 31);
  }
}

.player-similarity-main {
  padding: 2vw 1vw;
  .search-bar {
    margin-right: auto;
    margin-left: auto;
  }

  .similarity-result {
    margin-top: 2vw;
    font-size: 1.35vw;
    font-weight: 600;
    font-style: italic;
    padding: 1vw;
    background-color: black;
    width: fit-content;
    border-radius: 10px;
  }
}
