@import "../../utils/variables.scss";

details {
  text-align: center;
  font-size: 1.25vw;
  font-weight: 600;
  margin-top: 2vw;

  summary {
    margin-bottom: 1vw;
    border-radius: 10px;
    width: fit-content;
    padding: 0.5vw 2vw;
    margin-left: auto;
    margin-right: auto;

    &.finishers {
      background-color: #4c0027;
    }

    &.heading {
      background-color: black;
    }

    &.assists {
      background-color: #f10086;
    }

    &.high-xg {
      background-color: #072227;
    }

    &.worst {
      background-color: #151d3b;
    }

    &.outside-box {
      background-color: #05595b;
    }
  }
}

.coaches-center-main {
  padding: 1vw 2vw;
  color: whitesmoke;

  th,
  td {
    border: 2px solid $secondary-color;
    padding: 0.5vw 1vw;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 600;
    border-radius: 10px;
  }

  .league-table {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: auto;

    .table-header {
      text-decoration: underline;
      font-style: italic;
    }
  }

  .finishers th,
  .finishers td,
  .finishers tr {
    background-color: #4c0027;
  }

  .high-xg th,
  .high-xg td,
  .high-xg tr {
    background-color: #072227;
  }

  .assists th,
  .assists td,
  .assists tr {
    background-color: #f10086;
  }

  .heading th,
  .heading td,
  .heading tr {
    background-color: black;
  }

  .outside-box th,
  .outside-box td,
  .outside-box tr {
    background-color: #05595b;
  }

  .worst th,
  .worst td,
  .worst tr {
    background-color: #151d3b;
  }
}
