@import "../../variables.scss";

.news-detail {
  padding-left: 1vw;

  .card-title {
    color: $primary-text-color;
  }

  .card-description {
    text-align: justify;
  }
}

.news-image {
  height: 60%;
  border-radius: 10px;
  border: 2px solid white;
}

.scores-section-main,
.news-section-main {
  h2 {
    text-align: center;
    color: $secondary-text-color;
  }
}

.news-section-main {
  h2 {
    padding-left: 0.5vw;
  }
}
