@import "../../../utils/variables.scss";

.players-section-main {
  .player-card-main {
    border-radius: 10px;
    background-color: $primary-color;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 2vw;

    h2 {
      text-align: left;
    }
  }

  .sub-heading {
    font-size: 1.25vw;
    text-align: left;
  }

  .player-details {
    font-weight: 600;
    padding-left: 3vw;

    .profile-pic {
      border-radius: 50%;
      background-color: $secondary-color;
      border: 2px solid white;
    }

    .nation-flag-logo,
    .club-flag-logo {
      margin-right: 0.25vw;
    }

    .general-details {
      margin-left: 0.5vw;
      font-size: 1vw;

      .card-heading {
        font-weight: bold;
        font-size: 1.35vw;
        margin-bottom: 0;
      }

      div {
        margin-top: 0.2vw;
      }
    }

    .overall-ratings {
      position: relative;

      .overall,
      .potential {
        position: absolute;
        bottom: 0;
        margin-bottom: 1vw;
        font-size: 1.25vw;

        .span-container {
          margin-bottom: 0.5vw;
        }

        span {
          padding: 0.5vw 0.75vw 0.5vw 0.75vw;
          border-radius: 5px;
          background-color: green;
        }
      }

      .overall {
        padding-left: 10vw;
      }

      .potential {
        padding-left: 20vw;
      }
    }

    .profile,
    .player-specialities,
    .club-info,
    .nation-info,
    .pace,
    .dribbling,
    .shooting,
    .passing,
    .defending,
    .physical,
    .goalkeeping,
    .traits {
      margin-top: 3vw;
      padding-right: 3vw;
      font-size: 1vw;

      .label {
        color: $primary-text-color;
      }

      .club-logo,
      .nation-logo {
        padding: 0.75vw 0.5vw;
      }
    }

    .nation-info {
      padding-right: 0;
    }
  }
}
